.preloader-5 {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 30px auto;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #337AB7;
    animation: preloader-5-spin 2s linear infinite;
}
.preloader-5:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BFE2FF;
    animation: preloader-5-spin 3s linear infinite;
}
.preloader-5:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #337AB7;
    animation: preloader-5-spin 1.5s linear infinite;
}
@keyframes preloader-5-spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.logo {
    font-size: 100px;
    text-align: center;
    background: #e4c68e;
}
.search_input {
    width: 300px;
    height: 35px;
    border-radius: 5px;
}
.search_button {
    height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgb(236, 155, 78);
    border-radius: 5px;
}
.Search {
    background: #e4c68e;
    text-align: center;
}
.copyright {
    background: #e4c68e;
    font-size: 25px;
}
.main {
    background: #e4cfa9;
}
.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.type {
    font-size: 30px;
}
.all, .films, .series, .episode {
    margin-right: 40px;
}
.type--input {
    height: 20px;
    width: 20px;
}
.error {
    font-size: 100px;
}
.kol-vo_f {
    font-size: 30px;
}